.fondo {
    background-image: url("../../assets/imgs/stars1.png");
    
    
}

.estrella1 {
    background-image: url("../../assets/imgs/stars2.png");
    object-fit: cover;
    background-image: repeat-y;
}
