@use '../styles/variables.scss' as mixin;


div.frontend {
    width: 95%;
    padding-left: 0;
    box-sizing: border-box;
    // border: 1px solid white;
    min-height: 40vh;
}

.frontend h4 {
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: auto;
    padding: 0;
    font-size: 2rem;
    justify-self: flex-start;
}

.cardsTecno {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    box-sizing: border-box;
    & div {
        background-color: mixin.$tarjetas-transparente;
        margin: 1rem;
        padding: 4em;
        text-align: center;
        align-items: center;
    }
}
/*
.backend {

    &:nth-child(1) {
        margin-left: 0;
    }
    &:nth-child(3) {
        margin-right: 0;
    }


}
*/

